*{
    padding: 0;
    margin: 0;
    
}

a{
    border: none;
}

img{
    max-width: 100%;
}



body{
    background-color: black;
}

/* containerstar */
.container{
    width: 950px;
    height: 1350px;
    background-color: rgb(227,234,220);
    position: relative;
    left: 600px;

    font-family: "Montserrat", sans-serif;
}



img  {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 100px;
    position: absolute;
    left: 100px;
    top: 80px;
    

}

/* contactsstart */

.contacts{
    color: rgb(53,55,51);
    
   
    position: absolute;
    left: 100px;
    top: 300px;
    font-size: 20px ;
    font-weight: 1px;


    

}

.contacts h6{
    padding: 3px;
}

.contacts i{
    color: black;
    padding: 2px;
}

.contactparent::after{
    content: "";
    height: 2px;
    width: 230px;
    background-color: black;
    position: absolute;
    left: 100px;
    top: 550px;

}

.contnum{
    width: 150px;
}

/* projectmanagementstart */


.projectmanagement{
    color: rgb(53,55,51);
    
   
    position: absolute;
    left: 100px;
    top: 580px;
    font-size: 20px ;
    font-weight: 1px;
}


.projectmanagement ::after{

    content: "";
    height: 2px;
    width: 230px;
    background-color: black;
    position: absolute;
    left:0px;
    top: 180px;

}


.skillsection{
    color: rgb(53,55,51);
    
   
    position: absolute;
    left: 100px;
    top: 800px;
    font-size: 20px ;
    font-weight: 1px;
}

.skillsection h6{
    padding: 5px;
}

.react{
    width: 250px;
}
/* containerend */


/* parentsstart */

.parents{
    width: 550px;
    height: 1270px;
    background-color: white;
    position: absolute;
    left: 350px;
    bottom: 30px;   
    color: rgb(52,53,52);
    
    font-size: 20px ;
    padding: 0px 0px 0px 10px;
    
    
}

.texts{
    padding: 20px;
    font-family: "Ubuntu", sans-serif;



}

.profile{
    width: 470px;
    font-size: 15px;
}

.experience{
    margin-top: 20px;
    font-size: 17px;
    position: relative;
}
.date{
    position: absolute;
    left: 270px;
    top: 40px;
    
    font-size: 14px;
    color: rgb(107,108,109);
}

.companyplace{
    font-size: 14px;
    color: rgb(107,108,109);
}


.secondlist{
    position: relative;
    



    
}


.secondul{
    font-size: 15px;
}
.cp{
    font-size: 14px;
    color: rgb(107,108,109);

}

.dy{ 
    position: absolute;
    left: 270px;
    top: 1px;
    
    font-size: 14px;
    color: rgb(107,108,109);

}


.line::after{
    content: "";
    background-color: black;
    height: 2px;
    width: 500px;
    position: absolute;
    top: 300px;
   
    

}

.lastsection{
    position: absolute;
    top: 750px;
    
    width: 530px;
    
}

.lastsection h3{
    padding: 5px;
}

.lastsection h5{
    padding: 5px;
}

.lastsection p{
    position: absolute;
    left: 400px;
    top: 40px;
    
    font-size: 14px;
    color: rgb(107,108,109);
}

.lastsection ul{
    margin-left:10px ;
    font-size: 15px;
}


.fristlist{
    font-size: 15px;
}